<button class="btn btn-danger" (click)="logout()">Logout</button>
<div class="row">
    <h2>Latest Photos</h2>
    <ul id="thumbnailsList">
        <input type="file" (change)="handleFiles($event)" multiple>
        <button class="btn btn-primary" (click)="uploadFiles()">Upload Images</button>
        <!-- <li *ngFor="let image of images | async" class="img">
            <a [routerLink]="['/image', image.$key]">
                <img src="{{image.url}}" class="tn">
            </a>
        </li> -->
    </ul>
</div>